*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    color:white;
}


.screen{
    display: flex;
    height: 100vh;
}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccbbff;
}
.leftside img{
    max-width: 500px;
    height: auto;
}
.rightside{
    width: 400px;
    background-color: #3b02e8;
    padding: 50px;
}

.rightside label{
    display: block;
    margin-bottom: 20px;
    color: white;
    
}

.rightside input{
    border: 1px solid #999;
    color: #13004b;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    outline: 0;
}

#button:hover{
    border: solid 2px #000;
    transform: scale(1.0);
    transition-duration: 0.3s;
    cursor: pointer;
}

.login{
  
    padding: 30px;
    text-align: center;
}

.login a:hover{
    color: #ccbbff;
    
}

.login a{
    text-decoration: none;
    color: white;
    
}

.error{
    font-size: 11px;
    background-color: #13004b;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.footer {
    font-size: 13px;
    color: #fff;
    text-align: center;
  }
  

  .footer a {
    text-decoration: none;
    text-align: center;
    color: #fff;
  }
  
  .footer a:hover {
    color: #ccbbff;
  }
  

@media (max-width: 1024px){
    .leftside{
        width: 300px;
    
    }
    .leftside img{
        width: 300px;
    }
    .rightside{
        display: block;
        align-items: center;
        margin-bottom: 20px;
        height: 100vh;
    }
    .rightside label{
        margin-bottom: 35px;
    }
}

@media(max-width: 750px){
    .leftside{
        display: none;
    }
    .rightside{
        height: 100vh;
        width: 100vh;
    }
    
}

